* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Yeon Sung', normal;
}

body {
  width: 100%;
  background: rgb(255, 70, 70);
  top: 0;
}

article {
  text-align: center;
  margin: 50px 0 80px;
}

h1 {
  font-size: 40px;
}

h1 + p {
  font-size: 25px;
}

.container {
  display: grid;
  grid-template-columns: 30% 80%;
}

.menu {
  text-align: center;
  background-color: rgb(254, 171, 143);
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 20px 0;
  margin-left: 20px;
}

.menu > * > * {
  margin: 20px 0;
}

.menu-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.menu-container > div > img {
  height: 50px;
}

#bento-box {
  height: 640px;
  margin-left: 5%;
  z-index: -1;
}

.table-elements {
  position: absolute;
  margin-left: 34%;
  height: 640px;
  width: 920px;
}

.space-bowl {
  position: absolute;
  right: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(91, 18, 29);
  border: rgb(141, 33, 42) solid 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bowl-1 {
  margin: 10% 8% 0 0;
}

#bowl-2 {
  margin: 40% 8% 0 0;
}

.space-bowl > img {
  height: 250px;
}

.tray {
  position: absolute;
  height: 354px;
  width: 500px;
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: start;
  margin: 22% 0 0 8%;
}

.above-tray-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.below-tray-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.space-tray {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(91, 18, 29);
  border: rgb(141, 33, 42) solid 0.9rem;
}

.space-tray > img {
  height: 100px;
}
