* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Yeon Sung', normal;
}

body {
  width: 100%;
  background: rgb(255, 70, 70);
  top: 0;
}

article {
  text-align: center;
  margin: 50px 0 80px;
}

h1 {
  font-size: 60px;
}

h1 + p {
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.menu {
  text-align: center;
  background-color: rgb(254, 171, 143);
  border: solid 2px black;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 20px 0;
  margin-left: 20px;
}

.menu > * > * {
  margin: 20px 0;
}

.menu-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.menu-container > div > img {
  height: 120px;
}
